@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin poetry */
article,
section{
	break-after: page;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] hgroup p{
	text-align: center;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poetry */

/* Begin Letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */

/* begin figures */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}
/* end figures */

/* Begin glossary */
dl{
	margin: 1em 0;
}

dd{
	margin-left: 40px;
}
/* end glossary */

/* Custom formatting specific for poems */
#bib-ballads-foreword > blockquote{
	margin: 1em 0;
}

#home [epub|type~="contributors"]{
	font-style: italic;
}

#home header > p{
	text-align: center;
}
/* end custom formatting for specific poems */
